<section class="hero is-fullheight" style="background-image: linear-gradient(45deg,rgb(233, 193, 193), rgb(93, 94, 73))">
    <div class="signin">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-black">Nutrition Journal</h3>
          <hr class="login-hr">
          <p class="subtitle has-text-black">Please login to proceed.</p>
          <div class="box">
            <div class="field">                
            <form action="/login" method="post">
              <p class="control has-icons-left has-icons-right">
                <input class="input userName" name="username" type="text" placeholder="User Name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user-circle"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input passWord" name="password" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          </form>
          </div>
          <button class="button is-block is-info is-large is-fullwidth" id="userLogin">Login <i
              aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-grey">
          <button class="button"><a href="/signup">Sign Up</a></button>
          <button class="button"><a href="/">Home</a></button>

        </p>
      </div>
    </div>
    </div>
    <div class="container" id="app">
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
          <p class="errMess"></p>

          <!-- <table>
            <tr>
              <td>Jhon</td>
              <td>Hi</td>
            </tr>
          </table> -->
          <!-- <input type="text" class="input" /> -->
        </div>
        <button class="modal-close"></button>
      </div>
      <!-- <textarea style="position:absolute;z-index: 9999" name="" id="" cols="30" rows="2"></textarea>
      <br /><br /><br />
      <p> -->
        <!-- <button class="button" id="showModal">Show</button>
      </p> -->
    </div>


  </section>
​<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/login.js"></script>