 {{!-- <section class="hero is-primary">
    <img src="/public/assets/images/image.jpg" alt="">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section> --}}
<style>
  @media (max-width: 720px) {
        .input{
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
  }
  .genderOption{
    margin-left: 40%;
  }
  .button{
    margin-left: 10%;
    width: 80%;
  }
  #user-signup{
    margin-left: 25%;
    width:50%!important;
  }
    }
  
</style>
  <section class="hero is-fullheight"
    style="background-image: linear-gradient(75deg,rgb(151, 129, 129), rgb(220, 221, 128))">
    <div class="columns signup">
      <div class="column is-8 is-offset-2">
        <br>
        <div class="field">
          <h1 class="signupTitle">Sign Up To Begin Your Journal</h1>
          <br>

          <div class="field">
            <div class="control">
              <div class="columns is-vcentered">
                <div class="column">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input cfirstName" type="text" placeholder="First Name">
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>

                <div class="column">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input clastName" type="text" placeholder="Last Name">
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>
                ​
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="columns is-vcentered">
                <div class="column">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input cuserName" type="text" placeholder="User Name">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user-circle"></i>
                    </span>
                  </div>
                </div>
                <div class="column">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input cpassWord" type="password"
                      placeholder="Password (at least 8 characters)">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>

                ​
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <div class="columns is-vcentered">
                <div class="column">
                  <div class="select">
                    <select class="genderOption">
                      <option disabled selected>Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>

                <div class="column">
                  <input class="input cAge" type="text" placeholder="Age">
                </div>
                <div class="column">
                  <input class="input cWeight" type="text" placeholder="Weight">
                </div>
                <div class="column">
                  <input class="input cFeet" type="text" placeholder="Height (feet)">
                </div>
                <div class="column">
                  <input class="input cInches" type="text" placeholder="Height (inches)">
                </div>
              </div>
            </div>
          </div>
            <br>
            <div class="control columns" >
              <button class="button is-link is-6 column" style="width:100%" id="user-signup">Sign Up</button>
            </div>
            <br>
            <br>
            <div class="columns">
              <div class="column is-4 is-offset-2">
                ​ <a href="/login"><button class="button">Login</button></a>
              </div>
              <div class="column is-4 is-offset-2">
                <a href="/"><button class="button">Home</button></a>
              </div>
            </div>
            <br>
            <br>
  </section>
  ​
  ​
  <script type="text/javascript" src="assets/js/signup.js"></script>
  ​