
.hero.is-info .title  {
    color: white;
    font-size: 100px;
    font-weight: 600px;
    font-family: 'Bangers', cursive;
 
}
.signupTitle{
    font-size: 90px;
    color: green
}
#entersite {
    width: 200px;
    align-content: center;
}
.modal {
    width: 100px;
    height: 100px;
}
