body {

  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: -30px;
  margin-bottom: -30px;
}
#pane-2 {
  width: 100%;
  height: 100%;
}
#pane-3 {
  width: 100%;
  height: 100%;
}
#pane-1 {
  width: 100%;
  height: 100%;
}

.signupTitle {
  font-size: 50px;
  color: green;
  text-align: center;

}
.welcomeUser{
    padding:20px;
    background: #192710;
    text-align: center;
    width: 100%;
}
.navbar {
  border: 1px solid #192710 ;
  margin-bottom: 10px;
  text-align: center;
  font-size: x-large;
  
}
.img1 {
  margin-left: 20px;
  text-align: center;
  transform: translateX(-50%);
}
.nutritionLabel {
  margin: 0 auto;
}
.navbar-end{
  margin-right: 10px;
}

.navbar-item span{
  width: 250px;
  text-align: center;
  
}
.signup{
    margin-top: 70px;
}
#entersite {
  width: 200px;
  align-content: center;
}
.weightInput{
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.tabs {
  
    margin-bottom: -1px !important;
    position: relative;
    }
   
    .tab-pane {
    display: none;
    margin-bottom: 10px;
    height: auto;
    
    }
    .navbar-dropdown span {
      font-size: x-large;
      padding: 5px;
    }
    .tab-pane.is-active {
    display: block;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   
    
    }
    .is-active {
    display: initial;
    }
    
    .cent{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc}
    
    .video
    {display: block;
    margin: 0 auto;}
    
    /* CSS from http://embedresponsively.com */
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }

    .hero-body {
        background: url('../images/image2.jpg'); 
        background-size: cover;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    span {
        font-style: inherit;
        font-weight: inherit;
        /* color: #4d6a1b; */
        color: black;
    }
    .hero .tabs ul {
        border-bottom: none;
        background-color: green;
    }

    .hero.is-info {
        background-color: white;
        color: black;
    }

    
    .hero.is-info .title  {
        /* color: #4d6a1b; */
        font-size: 35px;
        color: black;
     
    }

    #time {
        margin-right: 20px;
    }
    #workout{
        margin-right: 20px;
    }

  


.tab-content {
  padding: 60px;
  top: 197px;
  color: #000;
  background-color: white;
  text-align: justify;
  margin-bottom: 100px;
}

.tab-pane {
  display: none;
}
.tab-pane .is-active {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

/* CSS from http://embedresponsively.com */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-body {
  background: url("../images/image2.jpg");
  background-size: cover;
}
.logout{
    margin-top: 10px;
    color:white;
    font-size:15px;
    position: absolute;
    background: #192710;
    top: 0;
    right: 0;
    margin-right: 10px;
}
#flexfix{
  display: flex;
  flex-direction: row;
}
span {
  font-style: inherit;
  font-weight: inherit;
  color: #4d6a1b;
  /* color: black; */
}
.hero .tabs ul {
  border-bottom: none;
  background-color: #192710;
}

.hero.is-info {
  background-color: white;
  color: black;
}


.nonfooter {
  background-color: #192710;
  /* padding: 3rem 1.5rem 6rem; */
  position: fixed;
  bottom: 0;
  height: 1px;
  width: 100%;
  border: 1px solid aqua;
  padding-bottom: 2.5rem;
  text-align: center;
}

.hero.is-info .title {
  /* color: #4d6a1b; */
  font-size: 35px;
  color: black;
}

#time {
  margin-right: 20px;
}
#workout {
  margin-right: 20px;
}

.hidden {
  display: none;
}
ul {
  font-size: 25px;
}
.profile {
  font-size: 35px;
}
.title,
.user-name {
  font-size: 60px;
  /* color:  white; */
}
#nutFact {
  text-align: center;
  font-size: 30px;
}

#quoteContainer {
  width: 75%;
  background: #fff;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  height: 120px;
}
#buttonContainer {
  width: 100%;
  text-align: center;
  padding: 5px;
}
#quoteButton {
  display: inline-block;
  margin-left: 300px;
}
#quoteGenius {
  font-style: italic;
  font-weight: 600;
  text-align: center;
}
/* td{
        width: 25px;
    } */
/* ul {
        font-weight: bold;
    } */
/* #welcome {
        font-co
    } */

.exerciseInfo {
  text-align: center;
  font-size: 25px;
}

.exerciseSubmit {
  text-align: center;
  font-size: 25px;
}
#exerciseTitle {
  font-size: 25px;
  text-align: center;
}
#foodSearch {
  font-size: 25px;
  text-align: center;
}
.food {
  text-align: center;
  color: #000;
  padding: 20px;
}
.food span {
  color: #000;
  font-size: larger;
}
.foodBtn {
  text-align: center;
}
.profile1{
    text-align: center;
}

#pane-4{
    width: 100%;
    height: 100%;
    
}

#exercises, #foods{
    font-size: 10px;
}
/*MEDIA QUERIES*/
@media (max-width: 720px) {
  #quoteButton,
  #addNew {
    display: block;
  }
  .tab-content {
    padding: 10px!important;
  }
  input::placeholder {
    font-size:20px;
  }
}
